// o__element--modifier
@import '../../base'
.o
	&-img
		display inline-blocks
		overflow hidden
		position relative
		box-sizing border-box
		vertical-align top
		&__img
			width 100%
			height 100%
		&--loading
			text-align center
			background rgba(0,0,0,.1)
			animation oImgLoading ($transTime * 2) infinite linear
				
		&--done
			animation oImgFade ($transTime * 2)

		@keyframes oImgFade 
			0%
				opacity 0
		@keyframes oImgLoading 
			50%
				opacity .5