// o__element--modifier
@import '../../base'
.o
	&-pop-toast
		text-align center
		&__cont
			display inline-block
			padding 1em
			margin 1em
			color white
			background rgba(0,0,0,.8)
			border-radius .25em
			