// o__element--modifier
@import '../../base'
.o
	&-pop-toast
		text-align center
		&__cont
			display inline-block
			padding 1em
			margin 1em
			color white
			background rgba(0,0,0,.8)
			border-radius .25em
			.icon
				margin 0 auto
				text-align center
				max-width 5em
				padding-bottom 20px
				img
					max-width 100%
	&-pop-alert
		&__cont
			color green
	&-pop-loading
		text-align center
		padding 30px
		border-radius 8px
		&__cont
			.loading
				padding-bottom 20px
			