[border]
  border 1px solid var(--silver)
[border~='c']
  border 1px solid currentColor

[border~='dashed']
  border-style dashed
[border~='dotted']
  border-style dotted

[border~='t'],
[border~='r'],
[border~='b'],
[border~='l']
  border-color transparent

[border~='t']
  border-top-color var(--silver)
[border~='r']
  border-right-color var(--silver)
[border~='b']
  border-bottom-color var(--silver)
[border~='l']
  border-left-color var(--silver)

[border~='c']
  &[border~='t']
    border-top-color currentColor
  &[border~='r']
    border-right-color currentColor
  &[border~='b']
    border-bottom-color currentColor
  &[border~='l']
    border-left-color currentColor


