[btn]
  display inline-block
  padding 0 ($m * .618 * .618)
  height $m
  margin-bottom 0
  font-size inherit
  font-weight 400
  line-height $m // height / fontsize
  text-align center
  white-space nowrap
  vertical-align middle
  touch-action manipulation
  cursor pointer
  user-select none
  background-image none
  box-sizing border-box
  background var(--slate20)
  border none
  -webkit-appearance rgba(0, 0, 0,.05)
  -webkit-tap-highlight-color rgba(0, 0, 0,.05)
  &[disabled]
    background var(--silver20)
    color var(--gray10)
    pointer-events none
[btn~='text']
  background none
  text-decoration none
[btn~='plat']
  background none
  box-shadow 0 0 0 1px currentColor

// 格式化最小宽度
[btn~='fit']
  min-width $m * 2.5
  &[btn~='s']
    min-width $s * 2.5
  &[btn~='l']
    min-width $l * 2.5

  

[btn~='s']
  padding 0 ($s * .618 * .618)
  font-size 24px
  height $s
  line-height $s
// [btn~='m']
//   padding 0 24px
//   height 56px
//   font-size 26px
//   line-height (56 / 26)
[btn~='l']
  padding 0 ($l * .618 * .618)
  height $l
  font-size 32px
  line-height $l

[btn~='block']
  display block
  width 100%

groupRadius($radius = 8px)
  &:first-child
    border-radius $radius 0 0 $radius
  &:last-child
    border-radius  0 $radius $radius 0
[btn~='group']
  padding 0
  box-shadow 0 0 0 0
  background none
  background-image none
  cursor auto
  clear()
  & > [btn]
    float left
    &[btn~='plat']
      &:not(:last-child)
        box-shadow -1px 0  currentColor, 0 1px  currentColor, 0 -1px  currentColor

  // 分组内 radius 处理
  & > [radius]
    border-radius 0
    groupRadius()
    &[radius='50']
      groupRadius(50%)
    &[radius='100']
      groupRadius(9999pxr)
    for i in 2 3 4
      &[radius=\'{i * 4}\']
        groupRadius(i * 4 * 2px)


[btn~='border']
  & > [btn]
    &:not(:first-child)
      box-shadow -.5px 0  rgba(0,0,0,.1)



icoSize($size)
  width $size
  height $size
  line-height $size!important
// 图标
[btn~='ico']
  border-radius 0
  min-width 0
  padding 0
  overflow hidden
  icoSize($m)

  & > img
    display block
    width 100%
    height 100%

  &[btn~='ss']
    & > img
      transform scale(.75)

  &[btn~='s']
    icoSize($s)
  &[btn~='l']
    icoSize($l)

[btn~='main']
  background var(--main)
  color white
[btn~='success']
  background var(--success)
  color white
[btn~='fail']
  background var(--fail)
  color white
[btn~='warning']
  background var(--warning)
  color white
[btn~='info']
  background var(--info)
  color white