[color~='bgoui'] { background: var(--oui) }
[color~='bgwhite'] { background: var(--white) }
[color~='bgblack'] { background: var(--black) }
[color~='bggray'] { background: var(--gray) }
[color~='bggrey'] { background: var(--grey) }
[color~='bgsilver'] { background: var(--silver) }

[color~='oui'] { color: var(--oui) }
[color~='white'] { color: var(--white) }
[color~='black'] { color: var(--black) }
[color~='gray'] { color: var(--gray) }
[color~='grey'] { color: var(--grey) }
[color~='silver'] { color: var(--silver) }