:root {
	--main: #327ede;
	--info: #2db6e8;
	--success: #42b983;
	--warning: #ff9800;
	--fail: #f44336;
	--black: #333;
	--title: #16233e;
	--cont: #4f596e;
	--desc: #9ea4b5;
	--disabled: #c3c6cd;
	--border: #dedfe3;
	--line: #e9ebec;
	--bg: #f8f8f8;
	--white: #fff;
}

[color~='bgmain'] { background: var(--main) }
[color~='bginfo'] { background: var(--info) }
[color~='bgsuccess'] { background: var(--success) }
[color~='bgwarning'] { background: var(--warning) }
[color~='bgfail'] { background: var(--fail) }
[color~='bgblack'] { background: var(--black) }
[color~='bgtitle'] { background: var(--title) }
[color~='bgcont'] { background: var(--cont) }
[color~='bgdesc'] { background: var(--desc) }
[color~='bgdisabled'] { background: var(--disabled) }
[color~='bgborder'] { background: var(--border) }
[color~='bgline'] { background: var(--line) }
[color~='bgbg'] { background: var(--bg) }
[color~='bgwhite'] { background: var(--white) }


[color~='main'] { color: var(--main) }
[color~='info'] { color: var(--info) }
[color~='success'] { color: var(--success) }
[color~='warning'] { color: var(--warning) }
[color~='fail'] { color: var(--fail) }
[color~='black'] { color: var(--black) }
[color~='title'] { color: var(--title) }
[color~='cont'] { color: var(--cont) }
[color~='desc'] { color: var(--desc) }
[color~='disabled'] { color: var(--disabled) }
[color~='border'] { color: var(--border) }
[color~='line'] { color: var(--line) }
[color~='bg'] { color: var(--bg) }
[color~='white'] { color: var(--white) }
