[details]
  /* 隐藏默认三角 */
  ::-webkit-details-marker
    display none
  ::-moz-list-bullet
    font-size 0


  summary
    user-select none
    outline 0
    position relative
    background rgba(0,0,0,.01)

  summary::after
    content ''
    position absolute
    right .75em
    top calc(50% - .3em)
    display inline-block
    width .65em
    height .65em
    border-top 2px solid currentColor
    border-right 2px solid currentColor
    transform rotate(45deg)
    // transition transform $transTime

  &[open] summary
    background rgba(0,0,0,.025)
  summary:hover
    cursor pointer
  &[open] summary::after
    top calc(50% - .45em)
    transform rotate(135deg)
