@import '../var'
// 父元素 row row="row col row-reverse jcc aic"
[row]
  display flex
  &>*
    display block
  &>[row]
    display flex
[row~='row']
  flex-direction row
[row~='row-reverse']
  flex-direction row-reverse
[row~='col']
  flex-direction column
[row~='col-reverse']
  flex-direction column-reverse

[row~='jcfe']
  justify-content flex-end
[row~='jcsb']
  justify-content space-between
[row~='jcsa']
  justify-content space-around
[row~='jcc']
  justify-content center
[row~='jcfs'] /*默认*/
  justify-content flex-start

[row~='aifs']
  align-items flex-start
[row~='aife']
  align-items flex-end
[row~='aic']
  align-items center
[row~='aib']
  align-items baseline
[row~='ais']  /*默认*/
  align-items stretch
[row~='wrap']
  flex-wrap wrap

// 子元素 col="0" col="1" ...
cols = 0 1 2 3 4 5 6 7 8 9
for c in cols
  [col=\'{c}\']
    flex c c
