@import '../var'
// -------------- 间隔 font="f12 f13 f14 f15 f16 f17 f18 f32 f48"
sizes = 12 13 14 15 16 20 24 28 32 36 40
for n,i in sizes
  [font~=\'{n}\']
    font-size n * 1pxr

[font~='10']
  display inline-block
  font-size 12 * 1pxr
  transform scale(.85)
  transform-origin left center

[font~=b]
  font-weight 700
[font~=i]
  font-style italic

[font~=success],
[font~=error]
  font-family "o-aui" !important

[font~=success]
  &:before
    content '\e604'
[font~=error]
  &:before
    content '\e632'