@font-face {
  font-family: 'oui';
  src:
    url('fonts/oui.ttf?x3gvt2') format('truetype'),
    url('fonts/oui.woff?x3gvt2') format('woff'),
    url('fonts/oui.svg?x3gvt2#oui') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'oui' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-alert:before {
  content: "\e6a2";
}
.ico-right:before {
  content: "\e6a3";
}
.ico-right-xx:before {
  content: "\e6a4";
}
.ico-right-x:before {
  content: "\e6a5";
}
.ico-top:before {
  content: "\e6a6";
}
.ico-top-x:before {
  content: "\e6a7";
}
.ico-top-xx:before {
  content: "\e6a8";
}
.ico-attach:before {
  content: "\e6a9";
}
.ico-check:before {
  content: "\e6aa";
}
.ico-check-circle:before {
  content: "\e6ab";
}
.ico-close:before {
  content: "\e6ac";
}
.ico-clock:before {
  content: "\e6ad";
}
.ico-upload:before {
  content: "\e6ae";
}
.ico-close-circle:before {
  content: "\e6af";
}
.ico-code:before {
  content: "\e6b1";
}
.ico-edit:before {
  content: "\e6b3";
}
.ico-download:before {
  content: "\e6b4";
}
.ico-eye:before {
  content: "\e6b5";
}
.ico-eye-off:before {
  content: "\e6b6";
}
.ico-add:before {
  content: "\e6b7";
}
.ico-grid:before {
  content: "\e6b8";
}
.ico-info:before {
  content: "\e6bb";
}
.ico-image:before {
  content: "\e6bc";
}
.ico-link:before {
  content: "\e6bd";
}
.ico-loader:before {
  content: "\e6be";
}
.ico-list:before {
  content: "\e6bf";
}
.ico-minus:before {
  content: "\e6c0";
}
.ico-more-horizontal:before {
  content: "\e6c1";
}
.ico-minus-circle:before {
  content: "\e6c2";
}
.ico-more-vertical:before {
  content: "\e6c3";
}
.ico-location:before {
  content: "\e6c5";
}
.ico-plus:before {
  content: "\e6c6";
}
.ico-power:before {
  content: "\e6c7";
}
.ico-question-circle:before {
  content: "\e6c8";
}
.ico-refresh:before {
  content: "\e6ca";
}
.ico-search:before {
  content: "\e6cb";
}
.ico-share:before {
  content: "\e6cd";
}
.ico-plus-circle:before {
  content: "\e6ce";
}
.ico-settings:before {
  content: "\e6d0";
}
.ico-slash:before {
  content: "\e6d1";
}
.ico-del:before {
  content: "\e6d2";
}
.ico-swap:before {
  content: "\e6d3";
}
