

[loading]
  $default = 2rem
  $s = 1rem
  $m = 1.5rem
  $l = 3rem
  display inline-block
  width $default
  height $default
  border 6px solid rgba(150,150,150,.5)
  border-top-color currentColor
  vertical-align -($default / 3)
  border-radius 100%
  box-sizing border-box
  animation oSpin $transTime * 2 linear infinite
  &[loading~='flip']
    border 6px solid currentColor
    border-top-color rgba(150,150,150,.5)
  &[loading~='s']
    width $s
    height $s
    vertical-align -($s / 4)
    border-width 2px
  &[loading~='m']
    width $m
    height $m
    vertical-align -($m / 3.5)
    border-width 4px
  &[loading~='l']
    width $l
    height $l
    vertical-align -($l / 2.75)
    border-width 8px
