[clear]
  &::after
    content ""
    display table
    clear both

[disabled]
  pointer-events none
  cursor not-allowed
  opacity .5

[active]
  &:active
    background $active-color

[box]
  box-sizing border-box
  & > *
    box-sizing border-box

[sticky]
  position sticky
  top 0
  z-index 1

[ell]
  ell()
for i in 2 // 多行文本超出部分省略号
  [ell~=\'{i}\']
    white-space normal
    elline(i)


