[tag]
  display inline-block
  padding .25em .4em
  font-size 75%
  line-height 1
  text-align center
  white-space nowrap
  vertical-align baseline
  box-sizing border-box
  background var(--line)

[tag~='plat']
  background none
  border 1px solid currentColor

[tag~='sup'],[tag~='sub']
  position relative
  line-height 0
  border-radius 99px
  padding .6em .3em

[tag~='sup']
  top -.6em
  // vertical-align super
[tag~='sub']
  bottom -.25em
  // vertical-align sub
[tag~='dot']
  padding 0
  width .5rem
  height .5rem
  border-radius 99px