body
  font-size 28px 
  font-family "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
  color var(--cont)

@import "./base.styl"

@import "./css/arrow.styl"
@import "./css/avatar.styl"
@import "./css/border.styl"
@import "./css/btn.styl"
@import "./css/details.styl"
@import "./css/flex.styl"
@import "./css/gap.styl"
@import "./css/loading.styl"
@import "./css/radius.styl"
@import "./css/shadow.styl"
@import "./css/tag.styl"
@import "./css/text.styl"
@import "./css/tip.styl"
@import "./css/transition.styl"
@import "./css/color.styl"

