body
  font-size 28px
  // line-height (32 / 28) // 字体图标grid  grid 16 天然文字对齐
  font-family "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
  color var(--slate)

@import "./base.styl"

@import "./css/arrow.styl"
@import "./css/avatar.styl"
@import "./css/border.styl"
@import "./css/btn.styl"
@import "./css/details.styl"
@import "./css/flex.styl"
@import "./css/gap.styl"
@import "./css/ico.styl"
@import "./css/loading.styl"
@import "./css/radius.styl"
@import "./css/shadow.styl"
@import "./css/size.styl"
@import "./css/tab.styl"
@import "./css/tag.styl"
@import "./css/text.styl"
@import "./css/tip.styl"
@import "./css/transition.styl"
@import "./css/color.styl"

